.footer{
    width: 100% ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
    
    &__navigation{
      display: flex;
      justify-content: space-evenly;
  
      &__link{
        color: #EAEAEA;
        font-weight: bold;
        padding: 1rem;
        transition: .3s;

        &:hover {
          color: #a5673f;
          text-shadow: 0 0 3px #000;
        }
  
      }
    }
  }
  
  @media screen and (max-width: 550px) {
    .footer__navigation__link {
      font-size: .68rem;
    }
  }
