@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.booking{
  flex: 1;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main-title{
    font-family: 'Patrick Hand', cursive;
    color: #EAEAEA;
    margin: 3rem auto;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 2px #000;
  }

  &__title , &__price{
    font-family: 'Patrick Hand', cursive;
    color: #EAEAEA;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 2px #000;
  }

  &__price {
    margin-top: 1rem !important;
  }

  &__form{
    margin: 1rem;
    color: #EAEAEA;
    text-shadow: 0 0 2px #000;

    &__dates, &__price {
      padding: 1rem;
      background-color: #f0f8ffa8;
      border-radius: .6rem;
      text-align: center;
      color: #333;
      text-shadow: none;
      font-weight: bold;
    }


    &__buttons{
      margin: 2rem;
      display: flex;
      justify-content:space-evenly;
      align-items: center;
      margin-bottom: 3rem;
    }
  }
  

  &__legals{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
}
