@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.create-offer{
  flex: 1;
  width: 100%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title{
    font-family: 'Patrick Hand', cursive;
    font-size: 3rem;
    color: #EAEAEA;
    text-shadow: 0 0 3px #000;
    margin-bottom: 2rem;
  }

  &__form{
    width: 50%;
    min-width: 300px;
    &__ck-label {
      color: #f1f1f1;
      text-shadow: 0 0 3px #000;
      font-weight: bold;
    }

    & .ck-editor {
      margin-bottom: 1rem;
      margin-top: .2rem;
    }

    &__buttons{
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
  }
}
