@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.faq {
  flex: 1;
  margin: 2rem;

  & h1 {
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    color: #EAEAEA;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  & h2 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  & p {
    margin: 1.6rem 0;
    line-height: 1.6;
  }

  & .accordion {
    border: none;

    &__item {
      border: none;
    }

    &__heading {
      border: none;
    }

    &__button {
      margin: 2rem 0;
      border-radius: .6rem;
      background-color: #f0f8ffa8;
      box-shadow: 0 0 20px #333;
      transition: .3s;

      &:hover {
        background-color: #a5673f;
        color: #EAEAEA;
      }
    }
  
    &__panel {
      padding: 0 2rem;
      color: #EAEAEA;
      text-shadow: 0 0 2px #000;
      border: none;

      &-raa-0 {
        border: none;
      }
    }
  }

  .oclock-masters {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & img {
      width: 300px;
      border-radius: 50%;
    }

    & h3 {
      position: absolute;
      bottom: 10px;
      font-size: 3rem;
      text-shadow: 0 0 2px #000;
    }
  }
}



.accordion__button {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: #ddd;
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}