.signup{
    flex: 1;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form{
      width: 500px;

      &__buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
}

@media screen and (max-width: 550px) {
  .signup__form {
    width: 300px;
  }
}